/* remove shadow and border */
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler{
    border: none;
}
/* remove shadow and border end */

/* navbar animation */
.nav-link {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #031D44;
  padding: 10px 0px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 500ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 80px;
}
/* navbar animation end*/

.divBack{
    background-color: #083E9E;
}

.divWhite{
    background-color: #FFFFFF;
}

.star{
  color: #00B67A;
}

.starStyle{
  background-color: #00B67A; 
  color: white;
}

.cardIcon{
  background-color: #0288D1; 
  color: #D8D8D8; 
  border-radius: 100%
}

/* form style */
.formWidth {
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

/* card img style */
.imgContainer{
  margin: auto;
}

.cardImgStyle{
  margin-top: -40px;
  width: 100px;
}

.backimg{
  background-image: url("imgs/man.png"); 
  
}